/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #000028;
  --text-dec-color: var(--bg-color);
  --main-color: #ff0070;
  --decor-color: var(--main-color);
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --shadow-color: var(--main-color);
  --text-shadow: var(--main-color);
  --rec: visible;
  --hover-shadow: #ff007040;
  --bg-img: url("../images/cover-image-dark.png");
  --border: 1px solid var(--main-color);
}
