/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #f5f5f5;
  --text-dec-color: var(--text-color);
  --main-color: var(--text-color);
  --decor-color: #ff8dcb;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --shadow-color: #ff0070;
  --text-shadow: var(--decor-color);
  --hover-shadow: #32312d40;
  --rec: hidden;
  --bg-img: url("../images/cover-image-light.png");
  --border: 1px solid var(--main-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f5f5f5;
    --text-dec-color: var(--text-color);
    --main-color: var(--text-color);
    --decor-color: #ff8dcb;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --shadow-color: #ff0070;
    --text-shadow: var(--decor-color);
    --hover-shadow: #32312d40;
    --rec: hidden;
    --bg-img: url("../images/cover-image-light.png");
    --border: 1px solid var(--main-color);
  }
}
