/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
/* * {
  outline: 0.5px solid red;
} */

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: var(--accent-color);
  font-family: var(--font__var, sans-serif);
  font-size: 18px;
  line-height: 1.175em;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--font__var, sans-serif);
    font-variation-settings: "wght" var(--fs-min);
  }
  
  .card__title {
    font-variation-settings: "wght" var(--fs-max);
  }
}

.content {
  margin-inline: auto;
  inline-size: var(--content-size);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  row-gap: 20px;
  background-color: var(--bg-color);
  font-family: var(--font-fam__accent, fantasy);
  text-align: center;
  margin-block: 100px;
  padding-block-start: 136px;
  text-transform: uppercase;
  border: 2px solid var(--accent-color);
  line-height: normal;
}

.logo {
  font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding-inline-start: 15px;
  padding-block-end: 25px;
}

.theme-menu__button {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  appearance: none;
  border: none;
  background-color: transparent;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &:disabled::before {
    content: '▶';
    position: absolute;
    top: 0;
    left: -13px;
    color: var(--accent-color);
    animation-name: slide;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--accent-color);
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: 0;
  }

  &:focus-visible::after {
    transform: scaleX(1);
  }
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 50px
}

.card {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.card__title {
  font-size: 18px;
  padding: 3px 10px;
  line-height: 25px;
}

.card__image {
  position: relative;
  border-block: 2px solid var(--accent-color);
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-fam__accent, fantasy);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 0 0 1px var(--text-stroke);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 2;
}

@supports((text-stroke: 1px var(--text-stroke)) or (-webkit-text-stroke: 1px var(--text-stroke))) {
  .label {
    -webkit-text-stroke: 1px var(--text-stroke);
    text-shadow: none;
  }
}

.image {
  display: block;
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card__article {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
}

.card__buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
  margin-inline-end: 25px;
  margin-block-end: 25px;
}

.button {
  cursor: pointer;
  position: relative;
  color: var(--accent-color);
  font-family: var(--font-fam__accent, fantasy);
  font-size: 14px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  transition: box-shadow 0.3s transform 0.3s ease;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: 2px 2px 0 var(--accent-color);
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: 0.5s ease-in-out;
    background-color: var(--accent-color);
  }

  &:hover::before {
    transform: scaleX(1);
  }

}

.button__text {
  position: relative;
  color: var(--mix-blend-mode);
  mix-blend-mode: difference;
}

.card__like-button {
  min-inline-size: 130px;
  min-block-size: 37px;
}

.floppy__img {
  color: var(--mix-blend-mode);
  mix-blend-mode: difference;
  inline-size: 21px;
  block-size: 21px;
}

.card__icon-button {
  outline: 2px solid transparent;
  background-color: transparent;
  border: none;
  inline-size: 38px;
  block-size: 38px;
  padding: 0;
  transition: 0.3s ease;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--accent-color);
    outline-offset: -2px;
  }
}

.like-icon {
  cursor: pointer;
  align-self: center;
}

.contener__save {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-inline: auto;
  margin-block: 50px 100px;
  min-block-size: 55px;
  min-inline-size: 335px;
}

/* фильтерс */

.filter__brightness {
  filter: brightness(300%);
}

.filter__grayscale {
  filter: grayscale(100%);
}

.filter__saturate {
  filter: saturate(250%);
}

.filter__sepia {
  filter: sepia(200%);
}

.filter__invert {
  filter: invert(1);
}

.filter__colorful {
  filter: invert(1) brightness(200%) saturate(60%) hue-rotate(90deg);
}

.filter__multy {
  filter: sepia(1) contrast(2) brightness(200%);
}

/* попапс */

#dialog {
  inline-size: 357px;
  border: solid 2px var(--accent-color);
  background-color: var(--bg-color);
  text-transform: uppercase;
}

#dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  padding: 30px;
}

#dialog::backdrop {
  background-color: #00000075;
}

#dialog[open] .dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__floppy {
  color: var(--accent-color)
}

.dialog__text {
  font-family: var(--font-fam__accent, fantasy);
  font-size: 14px;
  line-height: 1.6em;
  inline-size: 234px;
}

.dialog__button {
  inline-size: 293px;
  block-size: 38px;
  border: 2px solid var(--accent-color);
  text-transform: uppercase;
}

@media (320px < width < 426px) {

  :root {
    --content-size: 100%;
  }

  .header {
    padding-block-start: 120px;
  }

  .label {
    top: 14px;
    right: 11px;
  }

  .contener__save {
    flex-direction: column;
    min-block-size: 84px;
    min-inline-size: 306px;
  }

  #dialog {
    inline-size: 341px;
  }

  #dialog[open] .dialog__content {
    gap: 12px;
  }

  .dialog__button {
    inline-size: 100%;
  }

  .dialog__text {
    inline-size: 198px;
  }

  .floppy__img {
    color: var(--mix-blend-mode);
    mix-blend-mode: difference;
    inline-size: 28px;
    block-size: 28px;
  }
}